.footer {
    background-color: #dde3ee46;
    width: 100%;
    height: 10vh;
  
    /* IMPORTANT */

    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

  .footer h1 {
    font-size: clamp(1vw, 1vw, 22px);
  }