.subpage {
  background-image: linear-gradient(70deg, #8E2DB8, #2F7DE1
  );
    padding-top: 64px;
    padding-bottom: 3rem;
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

.subpage p {
  font-size: clamp(2.2vw, 2.2vw, 1.25rem);

  font-style: italic;
  text-align: center;
  max-width: 900px;
  line-height: 1.6;
  color: whitesmoke;
  margin-top: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
             "Segoe UI", Roboto, Helvetica, Arial, sans-serif;


}

@media (max-width: 768px) {
  .subpage {
    padding-top: 56px;
    padding-bottom: 2rem;
    min-height: 250px;
  }
  
  .subpage p {
    font-size: 0.95rem;
    padding: 0 1rem;
  }
}



