.mainpage {
    background-color: blue;
    padding-top: 64px;
    width: 100%;
    height: 557px;
  
    /* IMPORTANT */
    display: block;   /* or just remove display entirely */

    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/218fc872735831.5bf1e45999c40.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    box-sizing: border-box;
  }
  .sloganBlock {
    width: 100%;
    margin: 0 auto;
  }
  
  /* Button block */
  .buttonBlock {
    padding-top: 5rem;
    display: block;
    align-content: center;
    align-items: center;
    width: 15vw;
    height: 10vh;
    margin: 0 auto;
  }
  
  .buttonBlock button {
    width: 100%;
    min-height: clamp(10vh, 10vh, 22px);
    min-width: clamp(10vh, 10vh, 22px);

    border-radius: 12px;
    
    font-size: clamp(2vw, 2vw, 22px);
    text-align: center;
    cursor: pointer;

    background-color: None;
    color: black;
    outline: 2px solid #dde3ee;;
    transition: background-color 0.3s ease, transform 0.15s ease;
  }

  .buttonBlock button:hover {
    background-color: #0088ff;
    color: white
    }

  .mainpage h1 {
    font-size: 4.0em;
    line-height: 1.1;
    color:white;

  }
  