.statblock {
    background-color: #dde3ee;
    width: 100%;
    height:auto;
    padding: 0.5rem 0.5rem;
  
    justify-content: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* IMPORTANT */
  
    box-sizing: border-box;
  }
  
  .statcard {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.75rem 0.75rem;
    max-width: 30vw;
    min-height: 500px;
    max-height: 500px;
    
    padding: 0.7rem;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
  
    box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.05);

    align-items: center;
  }
  .statcard p {
    font-size: 1.1vw;
  }

  .statcard h2 {
    font-size: 2vw;
  }
  #source {
    font-style: italic;
  }

  
  
  