.creationblock {
    background-color: #dde3ee;
    width: 100%;
    height: 100vh;
    padding-top: 64px;
  
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* IMPORTANT */
  
    box-sizing: border-box;
  }
  
  .creationcard {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: clamp(75vw, 15vw, 75vw);
    height: clamp(75vh, 15vh, 75vh);
    border-radius: 12px;

    border-color: gray;
    text-align: center;
    border: 10px;
  
    box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.05);

    align-items: center;
    
    
  }

  .infoblock {
    width: clamp(75vw, 15vw, 75vw);
    height: clamp(60vh, 30vh, 60vh);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 12px;

    border-color: gray;
    border: 10px;
  
  }
  .leftblock {
    width: clamp(40vw, 15vw, 35vw);
    height: clamp(60vh, 15vh, 15vh);
    border-radius: 12px;

    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
    


    border: 10px;
  }
  .rightblock {
    width: clamp(40vw, 15vw, 35vw);
    height: clamp(60vh, 15vh, 15vh);
    border-radius: 12px;

    
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
    

    border: 10px;
  }
  
    /* Input field */
  .input-group input {
    width: 20vw;
    padding: 0.75rem 0.100rem;
    font-size: 1rem;

    
    border: 1px solid #d1d5db;
    border-radius: 6px;
  
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;

    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */

  }
  
  /* Focus state (VERY important) */
  .input-group input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
  }
  
  /* Placeholder styling */
  .input-group input::placeholder {
    color: #9ca3af;
  }
  
    
  
  .creationcard button {
    margin-bottom: 25px;
    position: absolute;
    width: 15%;
    min-height: clamp(10vh, 10vh, 22px);
    min-width: clamp(10vh, 10vh, 22px);
  
    border-radius: 12px;
    
    font-size: clamp(2vw, 2vw, 16px);
    text-align: center;
    cursor: pointer;
  
    background-color: None;
    color: black;
    outline: 2px solid #dde3ee;;
    transition: background-color 0.3s ease, transform 0.15s ease;
  }

  .creationcard button:hover {
    background-color: #0088ff;
    color: white
    }
  
  
  .input-group p {
    width: 20vw;
  }
  
  .creationcard span {
    margin-top: 10px;
  }
  .creationcard span:hover {
    text-decoration: underline;
  }
  
  #createaccount {
    font-size: clamp(3vw, 3vw, 3vw);
  }
  
  
    