.loginblock {
  background-color: #dde3ee;
  padding-top: 64px;
  width: 100%;
  height: 100vh;

  justify-content: center;
  align-items: center;

  /* IMPORTANT */
  display: flex;

  box-sizing: border-box;
}

.login {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
  width: clamp(25vw, 15vw, 15vw);
  height: clamp(75vh, 15vh, 15vh);
  border-radius: 12px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-color: gray;
  border: 10px;

  box-shadow:
  0 10px 25px rgba(0, 0, 0, 0.08),
  0 4px 10px rgba(0, 0, 0, 0.05);
  
  
}

  /* Input field */
.input-group input {
  width: 20vw;
  padding: 0.75rem 0.100rem;
  font-size: 1rem;

  border: 1px solid #d1d5db;
  border-radius: 6px;

  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

/* Focus state (VERY important) */
.input-group input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

/* Placeholder styling */
.input-group input::placeholder {
  color: #9ca3af;
}

  

.login button {
  margin-top: 10vh;
  width: 75%;
  min-height: clamp(10vh, 10vh, 22px);
  min-width: clamp(10vh, 10vh, 22px);

  border-radius: 12px;
  
  font-size: clamp(2vw, 2vw, 22px);
  text-align: center;
  cursor: pointer;

  background-color: None;
  color: black;
  outline: 2px solid #dde3ee;;
  transition: background-color 0.3s ease, transform 0.15s ease;
}

.login button:hover {
  background-color: #0088ff;
  color: white
  }

.login h1 {
  font-size: 20px;
  text-align: left;
}

.login span {
  margin-top: 10px;
  margin-bottom: 20px;
}
.login span:hover {
  text-decoration: underline;
}

#signup {
  font-size: clamp(3vw, 3vw, 3vw);
}


  